@font-face {
  font-family: 'Custom Font';
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local('Custom Font'),
    url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.8;
}

h1 {
  font-size: clamp(2.6rem, calc(1.6rem + 2vw), 5.5rem);
  line-height: 1.4;
}
